<h1> Welcome <%= current_user.email %> </h1>

<ul class="stack-for-small round secondary button-group">
  <li><%= link_to "Add a story", new_user_story_path(current_user), class: "button" %></li>
  <li><%= link_to "My stories", user_stories_path(current_user), class: "button" %></li>
  <li><%= link_to "All stories", stories_path, class: "button" %></li>
</ul>